@model IEnumerable<WebMahasiswa.Models.MahasiswaVM>

@{
    ViewBag.Title = "Index";
}

<div class="container-wrap title-page">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <h3>Data Mahasiswa</h3>
                @Html.ActionLink("  Create New", "Create", "MahasiswaVM", new { @class = "btn btn-success  glyphicon glyphicon-plus" })
            </div>
        </div>
    </div>
</div>

<div class="container-wrap">
    <div class="table-container">
        <table class="table cell-border display no-wrap">
            <thead>
                <tr>
                    <th>
                        Nama Mahasiswa
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NamaMahasiswa)
                        </td>
                        <td>
                            @Html.ActionLink(" Edit", "Edit", "MahasiswaVM", new { id = item.IdMahasiswa }, new { @class = "btn btn-default glyphicon glyphicon-edit" })
                            @Html.ActionLink(" Detail", "Details", "MahasiswaVM", new { id = item.IdMahasiswa }, new { @class = "btn btn-info glyphicon glyphicon-eye-open" })
                            @Html.ActionLink(" Delete", "Delete", "MahasiswaVM", new { id = item.IdMahasiswa }, new { @class = "btn btn-danger glyphicon glyphicon-erase" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
